/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: Georgia;
}

/* GLOBAL STYLES/CLASSES */

body {
    background-color: rgb(169, 203, 233);
}

header {
    background-color: rgb(7, 124, 196);
    font-weight: bolder;
}


.text-center {
    text-align: center;
}

.mb-big {
    margin-bottom: 25px;
}

.flex {
    display: flex;
}

.column {
    column-width: auto;
}


/* CUSTOM STYLES */

.search {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    
}

.current {
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding: 4px;

}

#row {
    width: fit-content;
}

.card {
    background-color: rgb(7, 124, 196);
}